body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a.navbar-brand {
    font-family: 'Lora', serif;
    color: white !important;
}
a.navbar-brand:hover {
    position: relative;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
}
div.navbar.navbar-inverse.navbar-fixed-top {
    background-color:#455A64 !important;
    box-shadow:0 7px 7px gray; 
    border-bottom:0px;
}
.dropdown-content {
     box-shadow: 0 7px 7px gray;
}
h4 {
    font-family: 'Lora', serif;
}
h2 {
    font-family: 'Lora', serif;
}
footer {
    background-color:#81C784;
    padding:50px;
}
div.thumbnail {
    box-shadow:0 5px 10px gray;
}



