@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2><img class="img-responsive" src="~/Content/apparel2.jpeg" /></h2>
    </div>
    <div class="col-md-6">
        <h2><img class="img-responsive" src="~/Content/apparel3.jpg" /></h2>
    </div>
</div>